html, body {
  background-color: #000;
  color: #eee;
  margin: 0px;
  padding: 0px;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Prevent user selection. */
  user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.dialog {
  display: none;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 170%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cart-dialog {
  display: none;
  font-family: sans-serif;
  font-size: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dialog.visible {
  display: flex;
}
.cart-dialog .wrap {
  padding: 1px 0px 60px 60px;
  margin: 20px auto;
  width: 60%;
  background: lightgray;
  color: black;
  border-radius: 5px;
}
.dialog h1 {
  margin: 0;
}

a, a:visited {
  color: skyblue;
}

#watermark img {
  position: fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;
  opacity: 0.3;
  width: 24px;
  height: 24px;
  padding: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#watermark img:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(white 0 0 5px);
}


canvas {
  cursor: -webkit-grab;
}
canvas:active {
  cursor: -webkit-grabbing;
}

#play-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
#play-overlay.visible {
  display: flex;
}
#play-overlay img {
  width: 30%;
  height: 30%;
}

#error .message {
  font-family: monospace;
  margin-bottom: 40px;
}

.close_button, .cart {
  display: inline-block;
  float: right;
  margin: -15px 10px;
}

.action_buttons {
  float: right;
  font-size: 75%;
}

.action_buttons span {
  padding: 5px 20px;
  border: 5px solid grey;
  margin-right: 15px;
}

.modal {
  font-family: "Roboto";
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: none;
  background: #000;
  opacity: 0.8;
  width : 50%;
  margin : 5% 20%;
  color: #fff;
  padding: 10px 20px;
}
.modal .title {
  color: #fff;
}

.modal .action-buttons{
  margin: auto;
  padding-left : 10%;
}
.modal .action-buttons button {
  margin : 20px;
  padding : 10px;
  width : 35%;
  background-color: #784580;
  color: white;
  border: 1.8px solid #784580;
  border-radius: 10px
}

.modal .action-buttons button.cancelation {
  background-color: #000;
}
.modal .price-container  {
  width: 100%;
}
.modal .price-container .split-container {
  width: 40%;
  padding: 5%;
}

.modal .price-container .split-container.right{
  float: right;
}
.modal .price-container .split-container.left{
  float: left;
}
.big-text {
  font-size: 30px;
}
.message-content {
  margin: 0 auto;
}

.image-container {
  height : 50px;
  width : 50px;
  margin: 0 auto;
}
